body {
    margin: 0;
    background-color: rgb(247, 247, 247);
    display: flex;
}

header {
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
    align-items: center;
}   

header > img {
    height: 100vh;
}

.logo {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 20%;
    left: 0;
    right: 0;
    font-size: 100px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 40px;
    gap: 20px
}

@font-face {
    font-family: Norse-Bold;
    src: url("Norse-Bold.otf") format("opentype");
}

h1 {
    font-family: Norse-Bold;
    font-size: 1em;
    height: 1   em;
    margin: 0;
}

.logo >img {
    height: 1em;
}

header > span {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 0.5rem;
}

header > span > a {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

main > * {
    margin-left: 2rem;
}

main > div {
    margin-right: 4rem;
}

main > form {
    margin-left: 0;
}

h2 {
    font-size: inherit;
}

form > div {
    background-color: white;
    padding: 0.5rem 2rem;
    box-shadow: 0px 10px 20px -20px;
}

form ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 0;
}

form label {
    text-transform: uppercase;
    font-size: medium;
    font-weight: initial;
}

form input {
    border:  2px solid #E5E7EB;
    border-radius: 5px;
    font-size: medium;
}

form input:focus {
    border-color: rgb(92, 92, 255);
    outline: none;
    box-shadow: 5px 5px 10px 5px rgb(0, 0, 0, 0.1);
}

form li {
    display: flex;
    flex-direction: column;
}

form input {
    width: 400px;
    padding: 0.25em;
}

form button {
    margin: 2rem;
    display: block;
    padding: 1em 3em;
    border-radius: 10px;
    border: none;
    background-color: #596D48;
    color: white;
    font-size: large;
    font-weight: bold;
}

form span {
    margin-left: 2rem;
    font-weight: initial;
}

form span a {
    color: #596D48;
    text-decoration: none;
}
